body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Light background color */
}

header {
    background-color: #5e77c4;
    color: #FFFFFF;
    padding: 10px 20px; /* Adjust padding for header */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between logo and title */
    font-size: 18px; /* Increase font size for header */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: auto; /* Auto height for header */
}

#loginBox {
    border-radius: 15px; /* Rounded corners for login box */
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    position: fixed;
    top: 180px; /* Adjust vertical position to move it down */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    z-index: 999;
    width: 100%; /* Adjust width for smaller screens */
    max-width: 400px; /* Maximum width for the login box */
}

/* Adjust the padding inside the login box */
.loginBoxBorder {
    background-color: #5e77c4;
    color: #c76c6c;
    padding: 15px; /* Reduce padding for login box header */
}

.card-body {
    padding: 15px; /* Reduce padding for card body */
    border-radius: 15px; /* Rounded corners for card body */
    border: 1px solid #ccc; /* Add border to card body */
}

.text-primary {
    color: #007bff !important; /* Primary color for emphasis */
}

.input-group-text {
    background-color: #92b3d3;
    border: 1px solid #ced4da;
    color: #333; /* Darken text color */
}

#passwordIcon {
    cursor: pointer;
}

footer {
    background-color: #222; /* Darker background color for footer */
    color: #fff;
    text-align: center;
    padding: 15px 0; /* Increase padding for footer */
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
    position: fixed;
    bottom: 0;
    width: 100%;
}
